.crx-iframe {
  border: none;
  border-radius: 8px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 -1px 0px rgba(0, 0, 0, 0.02);
  background-color: hwb(227 7% 84%);
  margin: 2em;
  padding-top: 0.5rem;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  width: 420px;
  min-height: 340px;
  z-index: 10000;
}

.crx-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;

  &:hover {
    background-color: #0056b3;
  }
}

.draggable {
  cursor: move;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  line-height: 100px;

  &.dragging {
    cursor: grabbing;
  }
}